apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: rbac-readonly
  namespace: {{ backup_ns }}
rules:
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["roles","rolebindings"]
  verbs: ["get","list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: rbac-readonly-bind
  namespace: {{ backup_ns }}
subjects:
- kind: ServiceAccount
  name: default
  namespace: {{ backup_ns }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: rbac-readonly
