apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ backup_ns }}
type: Opaque
stringData:
  DATABASE_URL: "{{ devistor_database_url }}"
  NEON_API_KEY: "{{ neon_api_key }}"
  NEON_PROJECT_ID: "{{ neon_project_id }}"
  NEON_BRANCH_ID: "{{ neon_branch_id }}"
